<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LilMe</servlet-name>
		<servlet-class>com.lilme.LilMeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LilMe</servlet-name>
		<url-pattern>/lilme</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddChildServlet</servlet-name>
		<servlet-class>com.lilme.AddChildServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddChildServlet</servlet-name>
		<url-pattern>/add-child</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowChildServlet</servlet-name>
		<servlet-class>com.lilme.ShowChildServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowChildServlet</servlet-name>
		<url-pattern>/show-child</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>AddParentServlet</servlet-name>
		<servlet-class>com.lilme.AddParentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddParentServlet</servlet-name>
		<url-pattern>/add-parent</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailBookServlet</servlet-name>
		<servlet-class>com.lilme.EmailBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailBookServlet</servlet-name>
		<url-pattern>/email-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>com.lilme.AddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/add-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookEmailServlet</servlet-name>
		<servlet-class>com.lilme.BookEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookEmailServlet</servlet-name>
		<url-pattern>/assign-book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendUpdateServlet</servlet-name>
		<servlet-class>com.lilme.SendUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendUpdateServlet</servlet-name>
		<url-pattern>/send-update</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
